/* Hide the arrows on Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrows on Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}