/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    /* Dimensions */
    width: 100%; /* 100% width of the screen */
    height: 72px;

    /* Positioning */
    position: fixed;
    left: 0; /* Align navbar to left */
    top: 0;  /* Fixed at the top of the page */

    /* Appearance */
    background-color: #f8f9fa;
    color: #2c3e50;

    /* Effects */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    border: 1px solid #F8F9FA; /* Border for the navbar */
    box-sizing: border-box; /* Include padding in dimensions */
    z-index: 1;
}

.navbar-icons {
    display: flex;
    gap: 15px;
}

.navbar-icon {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-icon:hover {
    color: #f39c12;
}



/* Media Queries */

/* Large screens (greater than 1600px) */
@media (min-width: 1600px) {
    .navbar {
        width: 100%; /* Full width of the screen */
        padding: 10px 40px; /* Adjust padding for larger screens */
    }


    .navbar-right {
        flex: 1;
        height: 80px;
        width:max-content;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

/* Screens between 768px and 1600px */
@media (max-width: 1600px) and (min-width: 768px) {
    .navbar {
        width: 100%; /* Full width of the screen */
        padding: 10px 20px; /* Adjust padding for medium screens */
    }

    .navbar-logo {
        font-size: 26px; /* Slightly larger logo text */
    }

    .navbar-right {
        flex: 1;
        height: 72px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 900px;
        width: 400px;}

    .navbar-icon {
        font-size: 22px; /* Slightly larger icons */
    }
}

/* Mobile devices (less than 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically */
        height: 250px; /* Allow height to adjust dynamically */
        padding: 10px;
        left: 0; /* Full-width navbar */
        width: 100%; /* Full-width navbar */
    }
    .navbar-icons {
        display: flex;
        gap: 50px;
    }
    .navbar-right {
        flex: 1;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: 900px;
        width: 400px;
    }   
    .navbar-icon {
        font-size: 90px;
        cursor: pointer;
        transition: color 0.3s;
    }

}


